html {
  font-size: 62.5%;
}
body {
  margin: 0 auto;
  background: #e5e5e5;
}
#header {
  color: #ffffff;
  background: #02a4ca;
}
#header h1 {
  margin: 0;
  font-size: 1.6rem;
  height: 3.7rem;
  line-height: 3.7rem;
  letter-spacing: 0.1rem;
}
#header h1 label {
  padding: 0 0.9rem;
}
