extends ../applayout
block content
    link(rel="stylesheet" type="text/css" href="/css/appdetail-min.css")
    #header
        h1
            label <
            span 学长学姐帮你找工作
    #main
        .main-top
        .main-mid
        .mid-bot