extends ../applayout
block content
    link(rel="stylesheet" type="text/css" href="/css/appindex-min.css")
    #header
        form(method="POST")
            input(type="text",placeholder="学院，专业，年级，公司，地点，职位")
            input(class="submit" value="" type="submit")
     #main
        .main-wrapper
            h1 热门>
            ul
                li
                    a(href="/detail")
                        img(src="/upload/app1419744465043.jpg")
                        label 搜狐
                        p
                            span 材料学院
                            span 材料工程
                            span 专业
                li
                    a(href="/detail")
                        img(src="/upload/app1419744465043.jpg")
                        label 搜狐
                        p
                            span 材料学院
                            span 材料工程
                            span 专业
                li
                    a(href="/detail")
                        img(src="/upload/app1419744465043.jpg")
                        label 搜狐
                        p
                            span 材料学院
                            span 材料工程
                            span 专业
                li
                    a(href="/detail")
                        img(src="/upload/app1419744465043.jpg")
                        label 搜狐
                        p
                            span 材料学院
                            span 材料工程
                            span 专业
                li
                    a(href="/detail")
                        img(src="/upload/app1419744465043.jpg")
                        label 搜狐
                        p
                            span 材料学院
                            span 材料工程
                            span 专业
                li
                    a(href="/detail")
                        img(src="/upload/app1419744465043.jpg")
                        label 搜狐
                        p
                            span 材料学院
                            span 材料工程
                            span 专业