extends ../applayout
block content
    #header
        form(method="POST")
            input(type="text",placeholder="学院，专业，年级，公司，地点，职位")
            input(class="submit" value="" type="submit")
     #main
        .main-wrapper
            h1 热门>
            ul
                li
                    img(src="/upload/app1419744465043.jpg")
                    p
                        span 材料学院
                        span 材料工程
                        span 专业
                li
                    img(src="/upload/app1419744465043.jpg")
                    p
                        span 材料学院
                        span 材料工程
                        span 专业