doctype
head
    mete(charset="utf-8")
    title #{title}
    link(rel="stylesheet" type="text/css" href="/css/appindex-min.css")
    include ./includes/apphead
body
    include ./includes/appheader
    block content